<div class="tech-btm">
    <h4>Mail bültenine abone olun.</h4>
    <p>Teknoloji, yazılım ve diğer bloglar...</p>
    <input type="email" id="txtEmail" placeholder="Email" name="Mail" required>
    <input type="submit" id="btnSubscribe" value="Abone Ol">
</div>