@using EntityLayer.Concrete
@model Tuple<Message2, AppUser>

@{
    ViewData["Title"] = "ComposeMessage";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-box-header">
                <h2>
                    Yeni Mesaj Oluştur
                </h2>
            </div>
            <div class="mail-box">
                <div class="mail-body">
                    <form method="post">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Alıcı Mail:</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="Item2.Email"></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Konu:</label>
                            <div class="col-sm-10"><input type="text" class="form-control" name="Item1.Subject" /></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Mesajınız:</label>
                            <div class="col-sm-10"><textarea class="form-control" name="Item1.MessageDetails"></textarea></div>
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">Gönder</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>